body {
    counter-reset: num;
}

.main_visual {
    .main_slide {
        position: relative;

        .itm {
            position: relative;
            height: 100vh;
            filter: grayscale(0.3);


            &::before {
                content: "";
                position: absolute;
                inset: 0 0 0 0;
                z-index: -1;
                background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.1)80%, rgba(0, 0, 0, 0.7)100%);
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                z-index: -1;
                width: 450px;
                background: $c-main;
                clip-path: polygon(0 0, 100% 0%, 35% 100%, 0% 100%);
            }

            &.itm01 {
                background: url(../images/mainVisual01.png) center center/cover;
            }

            &.itm02 {
                background: url(../images/mainVisual02.jpg) center center/cover;

                &::before {
                    backdrop-filter: blur(2px);
                }
            }

            &.itm03 {
                background: url(../images/mainVisual03.jpg) center center/cover;
            }

            &.itm04 {
                background: url(../images/mainVisual04.jpg)center center/cover;
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 200px;
            left: 219px;
            right: 0;
            height: 1px;
            background: rgba($color: $c-w, $alpha: 0.5);
        }
    }

    .slogan {
        position: absolute;
        bottom: 250px;
        left: 230px;
        z-index: 100;

        .txt {
            margin: 0 0 48px 0;
        }

        h3 {
            font-size: 72px;
            font-weight: 700;
            text-indent: -2px;
            text-transform: uppercase;
            margin: 0 0 15px 0;
            color: $c-w;

            width: 788px;

            font-family: 'Playfair Display SC';
            text-shadow: 0 0 10px rgba($color: $c-b, $alpha: 0.2);
        }

        p {
            display: inline-block;
            padding: 5px 8px 4px 8px;
            background: $c-w;
        }

        a {
            display: inline-block;

            span {
                position: relative;
                display: flex;
                align-items: center;
                gap: 24px;

                font-size: 20px;
                font-weight: 300;
                color: $c-w;

                &::before {
                    content: "\e941";
                    font-family: "material symbols outlined";
                    display: inline-block;
                    font-size: 40px;
                    font-weight: 100;

                    width: 80px;
                    height: 80px;
                    line-height: 80px;
                    text-align: center;
                    border: 1px solid rgba($color: $c-w, $alpha: 0.7);
                    border-radius: 50%;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    width: 80px;
                    height: 80px;
                    border: 1px solid rgba($color: $c-w, $alpha: 0);
                    border-radius: 50%;
                    animation: boom 3s infinite;
                }

                @keyframes boom {
                    0% {
                        transform: translate(0, -50%) scale(1.0);
                        border: 1px solid rgba($color: $c-w, $alpha: 0);
                    }

                    15% {
                        opacity: 50%;
                        transform: translate(0, -50%) scale(1.0);
                        border: 1px solid rgba($color: $c-w, $alpha: 1);
                    }

                    40% {
                        opacity: 0%;
                        transform: translate(0, -50%) scale(1.7);
                        border: 1px solid rgba($color: $c-w, $alpha: 0);
                    }
                }
            }
        }
    }

    .mv_arrow {
        position: absolute;
        bottom: 150px;
        right: 60px;
        z-index: 900;

        display: flex;
        gap: 8px;

        li {
            cursor: pointer;

            span {
                font-size: 32px;
                color: $c-w;
                user-select: none;
            }
        }
    }

    .mv_slidenum {
        position: absolute;
        top: 50%;
        right: 70px;
        transform: translate(0, -50%);
        z-index: 100;
        text-align: center;

        li {
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 8px;
            margin: 8px 0;

            &::before {
                content: "";
                display: block;
                width: 2px;
                height: 0;
                background: rgba($color: $c-w, $alpha: 0.3);

                opacity: 0;
                visibility: hidden;
                transform: scale(0);
                transition: height 0.5s;
            }

            &::after {
                content: "";
                position: absolute;
                top: 22px;
                left: 50%;
                transform: translate(-50%, 0);
                width: 2px;
                height: 0;
                background: $c-sub;
                opacity: 0;
                transition: height 4.8s;
            }

            a {
                display: block;
                font-size: 14px;
                font-weight: 300;
                color: $c-w;
            }

            &.on {
                &::before {
                    height: 100px;

                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }

                &::after {
                    height: 100px;
                    opacity: 1;
                }

                a {
                    color: $c-sub;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .main_visual {

        .main_slide {
            .itm {

                &::before {
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.7) 80%);
                }

                &::after {
                    top: auto;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 220px;
                    background: $c-2;
                    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
                }

                &.itm01 {
                    background: url(../images/mainVisual01.png) center -10%/cover;
                }

                &.itm02 {
                    background: url(../images/mainVisual02.jpg) 30% bottom/cover;

                    &::before {
                        backdrop-filter: blur(0);
                    }
                }

                &.itm03 {
                    background: url(../images/mainVisual03.jpg) center bottom/cover;
                }

                &.itm04 {
                    background: url(../images/mainVisual04.jpg) 45% bottom/cover;
                }
            }

            &::after {
                display: none;
            }
        }

        .slogan {
            bottom: 90px;
            left: 24px;
            right: 24px;

            .txt {
                margin: 0 0 80px 0;
                text-align: center;
            }

            h3 {
                font-size: 40px;
                color: $c-w;
                padding: 0 16px;

                width: auto;
            }

            p {
                padding: 0;
                background: none;
                color: $c-g;
                padding: 0 32px;
            }

            a {
                span {
                    gap: 24px;

                    font-size: 16px;

                    &::before {
                        font-size: 32px;
                        width: 60px;
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                    }

                    &::after {
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }

        .mv_arrow {
            bottom: 100px;
            right: 24px;
        }

        .mv_slidenum {
            top: auto;
            right: 50%;
            bottom: 40px;
            transform: translate(50%, 0);


            display: flex;
            align-items: center;

            li {
                flex-direction: row;
                margin: 0 8px;

                &::before {
                    width: 0;
                    height: 1px;
                    transition: width 0.5s;
                }

                &::after {
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    width: 0;
                    transition: width 4.8s;
                }

                a {
                    display: block;
                    font-size: 14px;
                    font-weight: 300;
                    color: $c-w;
                }

                &.on {
                    &::before {
                        width: 100px;
                        height: 1px;
                    }

                    &::after {
                        width: 100px;
                        height: 1px;
                    }
                }
            }
        }
    }
}

.main_towork {
    position: relative;

    .inner {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 100px;

        max-width: 1610px;
        margin: 20px auto -20px 70px;

        .title {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;

            h3 {
                writing-mode: vertical-lr;
                margin: 0 0 0 4px;
            }

            p {
                writing-mode: vertical-lr;
                font-size: 15px;
                color: $c-4;
            }
        }

    }

    .workcard {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;

        li {
            padding: 40px 40px 60px 40px;
            border: 2px solid $c-sub;
            border-radius: 30px 0;
            background: $c-w;

            box-shadow: 10px 10px 0 rgba($color: $c-sub, $alpha: 1.0);
            transition: 0.5s;

            strong {
                display: block;
                font-size: 40px;
                font-weight: 700;
                font-family: 'Playfair Display SC';
                margin: 0 0 24px 0;
            }

            p {
                margin: 0 0 8px 0;
            }

            span {
                display: block;
                font-size: 14px;
                line-height: 18px;
            }

            &:nth-child(1) {
                grid-row: 1 / 3;
            }

            &:nth-child(2) {
                grid-row: 2 / 4;
            }

            &:nth-child(3) {
                grid-row: 1 / 3;
            }

            &:nth-child(4) {
                grid-row: 2 / 4;
            }


            &::before {
                counter-increment: num;
                content: "0" counter(num);
                display: block;
                color: $c-sub;
                font-size: 14px;
                margin: 0 0 4px 0;
            }


            &:hover {
                transform: translate(-2px, -10px);
                border: 2px solid $c-main;
                box-shadow: 10px 10px 0 rgba($color: $c-main, $alpha: 1.0);

                &::before {
                    color: $c-main;
                }
            }
        }
    }

    .text_loop {
        position: absolute;
        bottom: 0;
        left: 70px;
        right: 0;

        span {
            display: block;
            font-size: 6vw;
            font-family: 'Playfair Display SC';
            white-space: nowrap;
            color: $c-line;
            padding: 16px 16px 24px 16px;

            &.blue {
                color: $c-main;
            }
        }
    }
}

@media (max-width:768px) {
    .main_towork {
        padding: 70px 0;

        .inner {
            flex-direction: column;
            gap: 32px;
            margin: 0 auto;
            padding: 0 24px;

            .title {
                display: block;
                text-align: left;

                h3 {
                    writing-mode: horizontal-tb;
                    margin: 0 0 8px 0;
                }

                p {
                    writing-mode: horizontal-tb;
                    font-size: 16px;
                }
            }
        }

        .workcard {
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;

            li {
                padding: 30px 30px 50px 30px;
                box-shadow: 6px 6px 0 rgba($color: $c-sub, $alpha: 1.0);
                transition: 0s;

                &:nth-child(1) {
                    grid-row: 1 / 1;
                }

                &:nth-child(2) {
                    grid-row: 1 / 1;
                }

                &:nth-child(3) {
                    grid-row: 2 / 2;
                }

                &:nth-child(4) {
                    grid-row: 2 / 2;
                }

                &:hover {
                    transform: translate(0, 0);
                    border: 2px solid $c-sub;
                    box-shadow: 6px 6px 0 rgba($color: $c-sub, $alpha: 1.0);

                    &::before {
                        color: $c-sub;
                    }
                }
            }
        }

        .text_loop {
            left: 0;
            bottom: -70px;
        }
    }
}

@media (max-width:480px) {
    .main_towork {
        .workcard {
            grid-template-columns: 1fr;
            gap: 32px;

            li {

                &:nth-child(1) {
                    grid-row: 1 / 1;
                }

                &:nth-child(2) {
                    grid-row: 2 / 2;
                }

                &:nth-child(3) {
                    grid-row: 3 / 3;
                }

                &:nth-child(4) {
                    grid-row: 4 / 4;
                }
            }
        }
    }
}

.main_bouquet {
    position: relative;

    .inner {
        display: flex;
        align-items: flex-start;
        gap: 100px;

        max-width: 1680px;
        margin: 40px 0 -40px auto;

        .title {
            display: flex;
            align-items: flex-start;

            h3 {
                writing-mode: vertical-lr;
                transform: rotate(180deg);
                margin: 0 4px 0 0;
            }

            p {
                writing-mode: vertical-lr;
                transform: rotate(180deg);
                font-size: 15px;
                color: $c-4;
            }
        }

        .bouquet_slide {
            width: 100%;

            .itm {
                position: relative;
                margin: 0 56px 0 0;
                padding: 50px 0;
                transform: translate(0, 50px);
                transition: 0.5s;

                .img_box {
                    position: relative;
                    margin: 0 0 24px 0;
                    border-radius: 4px;
                    overflow: hidden;

                    img {
                        width: 400px;
                        height: 500px;
                        object-fit: cover;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0 0 0 0;
                        background: rgba($color: $c-w, $alpha: 0);
                        opacity: 0;
                        transition: 0.5s;
                    }

                    &::after {
                        content: "\f884";
                        font-family: "material symbols outlined";
                        position: absolute;
                        bottom: -100%;
                        right: 24px;

                        display: block;

                        font-size: 32px;
                        padding: 12px 10px 10px 12px;
                        background: $c-w;
                        color: $c-sub;
                        border-radius: 50%;
                        box-shadow: 1px 2px 5px rgba($color: $c-b, $alpha: 0.2);

                        transition: 0.5s;

                    }
                }

                .desc {
                    padding: 0 16px 0 0;

                    strong {
                        display: block;
                        font-size: 20px;
                        font-weight: 300;
                        margin: 0 0 8px 0;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 600;
                        color: $c-6
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: -30px;
                    left: -28px;
                    width: 1px;
                    height: 1000px;
                    background: $c-line;
                }

                &:hover {
                    .img_box {
                        &::before {
                            opacity: 1;
                            background: linear-gradient(rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.7) 100%);
                        }

                        &::after {
                            bottom: 24px;
                        }
                    }
                }

                &.on {
                    transform: translate(0, -50px);
                }

            }
        }

        .bou_arrow {
            position: absolute;
            bottom: 80px;
            left: calc(100% - 1665px);
            font-size: 0;

            user-select: none;
            cursor: pointer;

            span {
                padding: 15px;
                border: 1px solid $c-6;
                border-radius: 50%;
                font-size: 40px;
            }

            .left {
                margin: 0 0 8px 0;
            }
        }

    }
}

@media (max-width:768px) {
    .main_bouquet {
        padding: 70px 0;

        .inner {
            flex-direction: column;
            gap: 32px;
            margin: 0 auto;
            padding: 0 24px;

            .title {
                display: block;
                text-align: left;

                h3 {
                    writing-mode: horizontal-tb;
                    transform: rotate(0);
                    margin: 0 0 8px 0;
                }

                p {
                    writing-mode: horizontal-tb;
                    transform: rotate(0);
                    font-size: 16px;
                }
            }

            .bouquet_slide {
                .itm {
                    margin: 0 16px 0 0;
                    padding: 20px 0;
                    transform: translate(0, 20px);

                    .img_box {
                        margin: 0 0 16px 0;

                        img {
                            width: 100%;
                            height: 250px;
                        }

                        &::before {
                            display: none;
                        }

                        &::after {
                            display: none;
                        }
                    }

                    .desc {
                        strong {
                            font-size: 16px;
                            line-height: 20px;
                        }

                        span {
                            font-size: 12px;
                        }
                    }

                    &::after {
                        display: none;
                    }

                    &.on {
                        transform: translate(0, -20px);
                    }
                }
            }

            .bou_arrow {
                position: static;
                display: flex;
                gap: 8px;
            }
        }
    }
}


.main_collection {
    position: relative;

    .theme {
        position: relative;
        height: 100vh;

        &::before {
            content: "";
            position: absolute;
            top: 120px;
            right: 0;
            bottom: 100px;
            z-index: 1;
            width: 780px;
            border-radius: 0 0 0 50px;
            filter: brightness(110%);
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 60px;
            right: 530px;
            z-index: 2;
            width: 320px;
            height: 500px;
            border-radius: 10px;
            box-shadow: 3px 3px 10px rgba($color: $c-b, $alpha: 0.1);
            filter: brightness(110%);
        }

        &.th1 {
            background: $c-sub-purple;

            &::before {
                background: url(../images/col_Jane1.jpg) no-repeat center center/cover;
            }

            &::after {
                background: url(../images/col_Jane2.jpg) no-repeat center center/cover;
            }
        }

        &.th2 {
            background: $c-sub-green;

            &::before {
                background: url(../images/col_Taylor2.jpg) no-repeat 25% bottom/cover;
            }

            &::after {
                background: url(../images/col_Taylor1.jpg) no-repeat center center/cover;
            }
        }

        &.th3 {
            background: $c-sub-pink;

            &::before {
                background: url(../images/col_Millie2.png) no-repeat center center/cover;
            }

            &::after {
                background: url(../images/col_Millie1.jpg) no-repeat center center/cover;
            }
        }
    }

    .page_num {
        position: absolute;
        top: 130px;
        left: 70px;
        z-index: 900;

        font-size: 160px;
        font-weight: 900;
        color: $c-w;
        letter-spacing: -20px;
        font-style: italic;
        text-shadow: 0 0 8px rgba($color: $c-4, $alpha: 0.1);
        user-select: none;
    }

    .txt_box {
        position: absolute;
        top: calc(50% - 80px);
        left: calc(50% - 325px);
        transform: translate(-50%, -50%);
        z-index: 900;
        max-width: 650px;
        text-align: right;

        h3 {
            font-size: 88px;
            font-weight: 700;
            line-height: 84px;
            color: $c-w;
            margin: 0 0 24px 0;
            text-shadow: 0 0 8px rgba($color: $c-4, $alpha: 0.1);
            font-family: 'Playfair Display SC';
        }

        p {
            margin: 0 0 48px 0;
        }

        a {
            position: relative;
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
            color: $c-w;

            &::before {
                content: "";
                position: absolute;
                bottom: -22px;
                right: -40px;
                width: 700px;
                height: 1px;
                background: $c-w;
                border-radius: 50%;
                transition: 0.5s
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -16px;
                right: -43px;
                width: 25px;
                height: 1px;
                background: $c-w;
                transform: rotate(30deg);
                border-radius: 50%;

                transition: 0.5s
            }

            &:hover {
                &::before {

                    transform: translate(24px, 0);
                }

                &::after {

                    transform: translate(24px, 0) rotate(30deg);
                }
            }
        }
    }

    .sub_collection {
        position: absolute;

        bottom: 70px;
        left: 70px;
        z-index: 900;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        max-width: 640px;


        figure {
            transition: 0.5s;

            .img_box {
                border-radius: 4px;
                overflow: hidden;
                margin: 0 0 16px 0;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
            }

            figcaption {
                color: $c-w;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                padding: 0 10px;
            }

            &:hover {
                transform: translate(0, -10px);
            }
        }

    }

    .collection_page {
        position: absolute;
        top: 130px;
        left: 300px;
        z-index: 990;
        width: auto;

        display: flex;
        gap: 30px;

        .swiper-pagination-bullet {
            width: 60%;
            background: transparent;
            opacity: 45%;

            user-select: none;
            cursor: pointer;

            span {
                font-size: 14px;
                font-weight: 300;
                color: $c-w;
                letter-spacing: 2px;
            }

            &.swiper-pagination-bullet-active {
                opacity: 100%;
            }
        }
    }

    .col_arrows {
        position: absolute;
        bottom: 30px;
        right: 70px;
        z-index: 990;
        display: flex;
        gap: 8px;

        span {
            display: block;
            font-size: 48px;
            color: $c-w;
            user-select: none;
            cursor: pointer;
        }
    }
}


@media (max-width:768px) {
    .main_collection {

        .theme {
            height: 100%;
            padding: 100px 24px;

            &::before {
                top: 70px;
                bottom: auto;
                z-index: -1;
                height: 140px;
                width: 100%;
                border-radius: 0;
                opacity: 50%;
            }

            &::after {
                bottom: auto;
                top: 120px;
                right: 24px;
                z-index: -1;
                width: 150px;
                height: 200px;
                border-radius: 4px;
            }
        }

        .page_num {
            position: static;
            font-size: 88px;
            letter-spacing: -4px;
            text-indent: -12px;
            text-shadow: 0 0 3px rgba($color: $c-4, $alpha: 0.1);

            margin: 0 0 48px;
        }

        .txt_box {
            position: static;
            transform: translate(0, 0);
            text-align: left;
            margin: 0 0 56px 0;

            h3 {
                font-size: 40px;
                line-height: 1;
                padding: 0 140px 0 0;
            }

            p {

                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
                overflow: hidden;
                padding: 0 80px 0 0;
                margin: 0 0 24px 0;
            }

            a {
                font-size: 16px;

                &::before {
                    width: 140px;
                }
            }
        }

        .sub_collection {
            position: static;
            max-width: 768px;
            gap: 16px;

            figure {
                transition: 0s;

                .img_box {
                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }
                }

                figcaption {
                    font-size: 12px;
                    font-weight: 500;


                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                &:hover {
                    transform: translate(0, 0);
                }
            }
        }

        .collection_page {
            display: none;
        }

        .col_arrows {
            bottom: 30px;
            right: 50%;
            transform: translate(50%, 0);
            z-index: 999;
        }
    }
}

@media (max-width:480px) {
    .main_collection {
        .txt_box {
            p {

                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin: 0 0 24px 0;
            }
        }
    }
}